# PostgreSQL container
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=apirest

# Prisma connection string
DATABASE_URL=postgresql://postgres:change-me@localhost:5432/apirest?schema=public

# Optional application port
PORT=3080
